* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;   
  outline: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
body{
  background: rgb(174,198,238);
  background: radial-gradient(circle, rgba(174,198,238,1) 0%, rgba(128,123,223,1) 100%);
  }
h1 {
  margin-top: 50px;
  margin-bottom: 50px;
  padding: 0.6rem;
  align-items: center;
  text-align: center;
  color: #555;
  font-size: 50px;
  }
.clearfix:after {
    content: "";
    display: table;
    clear: both;   
}
.columna1, .columna2 {
  width: 50%;
  float: left;
}
.input-column {
  display: flex;
  justify-content: center;
  }
.text-result-column {
  display: flex;
  justify-content: center;
  }
.buttons-column {
  display: flex;
  justify-content: center;
}
.buttons-column2 {
  display: flex;
  justify-content: center;
}
textarea {
  width: 500px;
  height: 500px;
  padding: 10px;
  border-radius: 20px;
  border: none;
  resize: none;
  background-color: #fff;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.6);
  font-size: 20px;
  }
  .btn {
  width: 10rem;
  padding: 0.8rem;
  background-color: #333;
  color: #fff;
  border-radius: 10px;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-top: 10px;
  margin-left: 20px;
  }
  .btn:hover {
  color: #333;
  background-color: rgb(174,198,238);
  transition: all 0.5s ease-in-out;
  }
  
  .footer {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: auto;
  background: #333;
  padding: 2.12rem;
  text-align: center;
  }
.icons {
  display: flex;
  justify-content: center;
  margin:0;
  padding: 0;
  list-style: none;
  }
  .icons a {
  color: #efefef;
  transition: all 0.2s ease-in-out;
  margin-right: 40px;
  }
  
  .icons a:hover {
  color: rgb(94, 149, 245);
  }
  .icons i {
  font-size: 25px;
  } 
  @media screen and (max-width: 1024px) {
    .columna1, .columna2 {
      width: 100%;
      float: none;
    }
    textarea {
      width: 60%;
      height: 500px;
      padding: 10px;
      font-size: 16px;
      }
    .btn {
      width: 10rem;
      font-size: 12px;
      margin: 20px 5px;
      }
    .footer {
    position: static;
    width: 100%;
    height: auto;
    background: #333;
    padding: 1rem;
    text-align: center;
  }
    }
  
@media screen and (max-width: 700px) {
  h1 {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0.6rem;
    align-items: center;
    text-align: center;
    color: #555;
    font-size: 30px;
  } 
  .columna1, .columna2 {
    width: 100%;
    float: none;
  }
  textarea {
    width: 90%;
    height: 250px;
    padding: 10px;
    font-size: 14px;
    }
  .btn {
    width: 8rem;
    font-size: 12px;
    margin: 20px 5px;
    }
    .footer {
    position: static;
    width: 100%;
    height: auto;
    background: #333;
    padding: 1rem;
    text-align: center;
  }
}
